/* nav hover effects */
.link-nav {
  padding-bottom: 3px;
  box-sizing: border-box;
  position: relative;
}

.link-nav::after {
  content: "";
  position: absolute;
  top: 30px;
  left: 0;
  @apply bg-lightBlue;

  width: 0;
  color: black;
  height: 3px;
  border-radius: 8px;
  transition: width 0.3s ease-in-out, height 0.3s ease-in-out;
}

.link-nav:hover::after {
  width: 100%;
}

/* nav scroll rule */

.show-navbar {
  background-color: rgba(var(--light-blue-rgb), 0.95);
}

.show-navbar a,
.show-navbar svg {
  color: white;
}

#nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 400;
}
/* Hamburger */
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  z-index: 40;
  transform: translateX(-100%);
}

.burger-animation {
  transform: translateX(0);
  transition: transform var(--transition-duration);
}

.burger-animation-back {
  transform: translateX(-100%);
  transition: transform var(--transition-duration);
}

.menu-open {
  height: 100vh;
}
