.experience {
  box-shadow: var(--card-shadow);

  border-left: 2px solid var(--light-blue);

 
   border-top: 1px solid var(--off-white);
  border-right: 1px solid var(--off-white);
  border-bottom: 1px solid var(--off-white);
  opacity: 0;
  transform: translateY(30px) scale(0.95);
  filter: blur(5px);
}

html.dark .experience{
     border-top: 1px solid var(--black-light);
  border-right: 1px solid var(--black-light);
  border-bottom: 1px solid var(--black-light);
}
@media (prefers-reduced-motion: no-preference) {
  .experience.active {
    animation: premium-fade-in var(--transition-duration) var(--easing) forwards;
  }
}

#experience {
  position: relative;
}

#experience .container {
  grid-template-columns: 2fr 10fr;
}
