@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url("./variables.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

html .app{
  transition: background-color var(--transition-duration) ease,
              color var(--transition-duration) ease;
}


#hero {
  background: radial-gradient(
    60.4% 48.7% at 111.2% 64.3%,
    rgba(66, 125, 157, 0.5) 0%,
    rgba(22, 22, 22, 0) 100%
  );
}

#footer {
  background: radial-gradient(
    62.9% 56.8% at 47.6% 98.8%,
    rgba(66, 125, 157, 0.4) 0%,
    rgba(22, 22, 22, 0) 100%
  );
}

.app {
  font-family: "Lato", sans-serif;
  /* background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 18%,
    rgba(71, 9, 121, 1) 88%
  ); */
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
}

.glass {
  background: linear-gradient(
    135deg,
    rgba(255, 255, 255, 0.1),
    rgba(255, 255, 255, 0)
  );
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}

#footer {
  width: 100%;
}

#project-info {
  flex-grow: 1;
  display: flex;
}

/* fade from left animation */
.fade-left {
  animation: slideIn 0.9s ease forwards;
  animation-delay: 0.8s;
}

/* fadein for web dev */

.fade-animation {
  animation: fadeInOut 0.7s ease-in forwards;
  animation-delay: 0.8s;
}

.slide-up {
  animation: slideUp 0.6s ease-in forwards;
}

.slide-up-2 {
  animation: slideUp 1.2s ease-in-out forwards;
}

.slide-in {
  animation: slideIn 0.9s ease-in-out forwards;
}

.slide-down {
  animation: slideDown 1s ease-out forwards;
}

.slide-right {
  animation: slideRight 1s ease-in-out forwards;
}

.skew-animation {
  animation: skewAnimation 0.7s ease-in-out forwards;
}

.rotate-opacity {
  animation: rotatePlusOpacity 1.6s forwards;
  animation-delay: 0.4s;
}

.rotate-opacity-2 {
  animation: rotatePlusOpacity 1.2s forwards;
  animation-delay: 0.2s;
}

/* contact section hover */

.contact-section:hover button {
  background: white;
  color: black;
  border: 2px solid black;
}

.in-view {
  opacity: 1 !important;
}

/* contact */

.contact {
  padding: 25px;
  color: rgb(255, 255, 255);
  margin: 0 !important;
}

input {
  outline: none;
}



/* footer hover effects */
.footer-item a:hover {
  @apply hover:text-offWhite;
}

.box-shadow {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.social-link {
  border: solid transparent;
  /* padding: 6px; */
  transition: all 0.4s;
  display: inline-block;
  transform: scale(1);
}

.social-link:hover {
  opacity: 1;
  transform: scale(1.25);
  @apply text-lightBlue !important;
}

@keyframes fadeLeft {
  from {
    opacity: 0;
    transform: translateX(-50%);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes fadeRight {
  from {
    opacity: 0;
    transform: translateX(50%);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeInOut {
  0% {
    opacity: 0;
  }

  72% {
    opacity: 0;
  }

  82% {
    opacity: 0.3;
  }
  100% {
    opacity: 1;
  }
}

/* contact animation */

@keyframes rotatePlusOpacity {
  0% {
    transform: translateX(-50%);
    transform: rotateY(180deg);
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

/* nav burger */

@keyframes slideIn {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes rotate {
  0% {
    transform: rotateY(180deg);
  }
}

@keyframes slideUp {
  from {
    transform: translateY(-50%);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slideRight {
  from {
    transform: translateX(100%);
  }

  to {
    transform: translateX(0);
  }
}

@keyframes slideDown {
  from {
    transform: translateY(27%);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes skewAnimation {
  from {
    opacity: 0;
    transform: skew(-60deg) translateX(-40%);
  }

  to {
    opacity: 1;
    transform: skew(0) translateX(0);
  }
}

.social-icons {
  margin-left: 0 !important;
}
