@tailwind base;
@tailwind components;
@tailwind utilities;

.app {
  font-family: "Poppins", sans-serif;
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 18%,
    rgba(71, 9, 121, 1) 88%
  );
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
}

#footer{
  width: 100%;
}

#project-info{
  flex-grow: 1;
  display: flex;
}

.img {
  /* background-color: transparent; */
  filter: drop-shadow(0 4px 12px rgba(0, 0, 0, 0.9)) brightness(1.2);
  border-radius: 50% 0 50% 0 / 20% 50% 50% 20%;
  margin-top: 20px;
}
/* fade from left animation */
.fade-left {
  animation: slideIn 0.9s ease forwards;
  animation-delay: 0.8s;
}

/* fadein for web dev */

.fade-animation {
  animation: fadeInOut 0.7s ease-in forwards;
  animation-delay: 0.8s;

}

.slide-up {
  animation: slideUp 0.6s ease-in forwards;
}

.slide-up-2{
    animation: slideUp 1.2s ease-in-out forwards;


}

.slide-in {
  animation: slideIn 0.9s ease-in-out forwards;
}

.slide-down {
  animation: slideDown 1s ease-out forwards;
}

.slide-right {
  animation: slideRight 1s ease-in-out forwards;
}

.skew-animation {
  animation: skewAnimation 0.7s ease-in-out forwards;
}


.rotate-opacity{
  animation: rotatePlusOpacity 1.6s forwards;
  animation-delay: 0.4s;
}

.rotate-opacity-2{
  animation: rotatePlusOpacity 1.2s forwards;
  animation-delay: 0.2s;
}
/* nav hover effects */
.link-nav {
  position: inline-block;
  padding-bottom: 1px;
  border-bottom: 1px solid transparent;
}

.link-nav:hover {
  padding-bottom: 4px;
  border-bottom: 1px solid #9a32a2;
  transition: border-bottom 0.3s ease-in-out, padding-bottom 0.1s ease-in-out;
}
/* nav scroll rule */
.show-navbar {
  background-color: black;
  transition: 0.8s ease-in-out;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 400;
}
/* Hamburger */
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  z-index: 40;
  transform: translateX(-100%);
}

.burger-animation {
  transform: translateX(0);
  transition: transform 1s;
}

.burger-animation-back {
  transform: translateX(-100%);
  transition: transform 1s;
}

.menu-open {
  height: 100vh;
}

/* contact section hover */

.contact-section:hover button {
  background: white;
  color: black;
  border: 2px solid black;
}

/* projects hover effects */
.projects {
  background: rgb(0, 0, 0, 0.2);
  box-shadow: 2px 2px 2px rgb(0, 0, 0, 0.5);
  cursor: pointer;
  transition: all 0.4s ease-in-out;
  opacity:0;
}

.in-view {
  opacity: 1 !important;
}



.projects:hover {
  background: rgb(255, 255, 255, 1);
  transition: all 0.4s;
}

.projects:hover .title {
  color: #9a32a2;
  transition: color 0.4s;
  box-sizing: border-box;
}

.projects:hover .link {
  color: rgb(68, 8, 68);
  font-weight: 600;
}

.projects:hover .stack {
  background: rgba(255, 255, 255, 0.048);
  color: black;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
}

.stack {
  width: fit-content;
}

/* contact */

.contact {
  padding: 25px;
  color: rgb(255, 255, 255);
}

input {
  outline: none;
}

.contact-animation {
  animation: rotatePlusOpacity 1.4s ease-in-out;
}

/* footer hover effects */
.footer-item a:hover {
  @apply hover:text-darkViolet;
}

/* about hover effects */

.skill:hover .skill-title {
  @apply text-white;
}
.skill {
  border-bottom: 1px solid white;
  border-top: 1px solid white;
  background-color: rgba(0, 0, 0, 0.45);
  margin-left: 0;
}

.skill:hover {
  background: transparent !important;
  color: #9a32a2;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.7);
}

.box-shadow {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.container-exp {
  border-left: 1px solid #9a32a2;
}

#experience {
  position: relative;
}

#experience::before {
  content: "";
  position: absolute;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: rgb(255, 255, 255);
  left: -4px;
  top: 14px;
}

@keyframes fadeLeft {
  from {
    opacity: 0;
    transform: translateX(-50%);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeInOut {
  0% {
    opacity: 0;
  }

  72% {
    opacity: 0;
  }

  82% {
    opacity: 0.3;
  }
  100% {
    opacity: 1;
  }
}

/* contact animation */

@keyframes rotatePlusOpacity {
  0% {
    transform: translateX(-50%);
    transform: rotateY(180deg);
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

/* nav burger */

@keyframes slideIn {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes rotate {
  0% {
    transform: rotateY(180deg);
  }
}

@keyframes slideUp {
  from {
    transform: translateY(-50%);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slideRight {
  from {
    transform: translateX(100%);
  }

  to {
    transfrom: transltateX(0);
  }
}

@keyframes slideDown {
  from {
    transform: translateY(27%);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes skewAnimation {
  from {
    opacity: 0;
    transform: skew(-60deg) translateX(-40%);
  }

  to {
    opacity: 1;
    transform: skew(0) translateX(0);
  }
}
